.answers {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: var(--background);
  color: #EAEAEA;
  height: calc(44px * 4 + 5rem);
  margin-top: -5rem;
  padding-top: 5rem;
}

.answers > * {
  height: 44px;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  text-align: center;
  flex-flow: column;
  margin: 0;
}

.questionArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - (44px * 4));
  flex-flow: column;
}

.question {
  font-size: 15vmin;
  padding: 2vmin;
  font-weight: 100;
}

.timer {
  font-size: 5vmin;
  transition: color 100ms linear;
}

.timerNearEnd {
  color: red;
  animation: signal 1s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes signal{
  0% {
    transform: scale(1.00);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.00);
  }
}
